
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h1 class="page-header">Crear Cliente</h1>
        </div>

        <div class="row" ng-show="alert.msg.length>0">
            <div class="col-lg-12 col-md-12">
                <div class="alert alert-{{alert.type}} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{alert.msg}} <a href="#" class="alert-link">{{alert.link}}</a>
                </div>
            </div>
        </div>
      
        <form name="clientForm" role="form" ng-submit="!clientForm.$pristine && clientForm.$valid && addclient()" novalidate>  

            <div class="form-group" ng-class="{ 'has-error' : clientForm.name.$invalid && !clientForm.name.$pristine  }">
                <label>Nombre</label>
                <input class="form-control" placeholder="Nombre" type="text" name="name" ng-model="client.name" required>
                <div ng-show="clientForm.$submitted || clientForm.name.$touched">
                	<p style="color:red" class="help-block" ng-show="clientForm.name.$error.required">Nombre requerido!</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : clientForm.phone.$invalid && !clientForm.phone.$pristine  }">
                <label>Telefono</label>
                <input class="form-control" placeholder="Telefono" type="text" name="phone" ng-model="client.phone" required>
                <div ng-show="clientForm.$submitted || clientForm.phone.$touched">
                	<p style="color:red" class="help-block" ng-show="clientForm.phone.$error.required">Telefono requerido!</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : clientForm.state.$invalid && !clientForm.state.$pristine  }">
                <label>Estado</label>
                <input class="form-control" placeholder="Estado" type="text" name="state" ng-model="client.state" >
                <div ng-show="clientForm.$submitted || clientForm.state.$touched">
                	<p style="color:red" class="help-block" ng-show="clientForm.state.$error.required">Campo requerido!</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : clientForm.locationLat.$invalid && !clientForm.locationLat.$pristine  }">
                <label>Latitud</label>
                <input class="form-control" placeholder="Latitud" type="text" name="locationLat" ng-model="client.locationLat" >
                <div ng-show="clientForm.$submitted || clientForm.locationLat.$touched">
                	<p style="color:red" class="help-block" ng-show="clientForm.locationLat.$error.required">Locación requerido!</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : clientForm.locationLon.$invalid && !clientForm.locationLon.$pristine  }">
                <label>Longitud</label>
                <input class="form-control" placeholder="Longitud" type="text" name="locationLon" ng-model="client.locationLon" >
                <div ng-show="clientForm.$submitted || clientForm.locationLon.$touched">
                	<p style="color:red" class="help-block" ng-show="clientForm.locationLon.$error.required">Locación requerido!</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : clientForm.referred.$error.required && clientForm.referred.$dirty }">
                <label for="role">Referido por</label>
                <input class="form-control" placeholder="Referido por" type="text" name="referred" ng-model="client.referred">                
            </div>

            <div class="form-group">
            	<div class="checkbox">
                    <label>
                    	<input type="checkbox" name="isRead" id="isRead" ng-model="user.isRead"> Leido
                    </label>
                </div>
            </div>

            <div class="form-group">
            	<div class="checkbox">
                    <label>
                    	<input type="checkbox" name="attended" id="attended" ng-model="user.attended"> 
                        Atendido
                    </label>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Crear</button>
            <button type="reset" class="btn btn-default">Cancelar</button>
        </form>
        
    </div>
	
</div>
